<a href="https://colab.research.google.com/github/Arulmozhi-Anandakumar/Netflix_title/blob/main/Netflix_title.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("netflix_titles.csv")

In [3]:
print("üîç First 5 rows:")
print(df.head())

üîç First 5 rows:
  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...

In [4]:
print("\nüìè Shape of the dataset (rows, columns):", df.shape)

üìè Shape of the dataset (rows, columns): (8807, 12)

In [5]:
print("\nüìÑ Column names:")
print(df.columns)

üìÑ Column names:
Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [6]:
print("\n‚ùì Missing values in each column:")
print(df.isnull().sum())

‚ùì Missing values in each column:
show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [7]:
df = df.drop_duplicates()
print("\n‚úÖ After removing duplicates, new shape:", df.shape)

‚úÖ After removing duplicates, new shape: (8807, 12)

In [8]:
df = df.fillna("Unknown")

In [10]:
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].astype(str).str.strip().str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)

In [12]:
if 'date_added' in df.columns:
    df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')

In [13]:
print("\n‚úÖ Cleaned Data Info:")
print(df.info())

‚úÖ Cleaned Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      8807 non-null   object
 4   cast          8807 non-null   object
 5   country       8807 non-null   object
 6   date_added    8797 non-null   datetime64[ns]
 7   release_year  8807 non-null   int64
 8   rating        8807 non-null   object
 9   duration      8807 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 825.8+ KB
None

In [14]:
print("\nüìä Sample cleaned data:")
print(df.head())

üìä Sample cleaned data:
  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show           Blood  Water          Unknown
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans          Unknown
4      s5  TV Show           Kota Factory          Unknown

                                                cast        country  \
0                                            Unknown  United States
1  Ama Qamata Khosi Ngema Gail Mabalane Thabang M...   South Africa
2  Sami Bouajila Tracy Gotoas Samuel Jouy Nabiha ...        Unknown
3                                            Unknown        Unknown
4  Mayur More Jitendra Kumar Ranjan Raj Alam Khan...          India

  date_added  release_year rating   duration  \
0 2021-09-25          2020   PG13     90 min
1 2021-09-24          2021   TVMA  2 Seasons
2 2021-09-24          2021   TVMA   1 Season
3 2021-09-24          2021   TVMA   1 Season
4 2021-09-24          2021   TVMA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1      International TV Shows TV Dramas TV Mysteries
2  Crime TV Shows International TV Shows TV Actio...
3                              Docuseries Reality TV
4  International TV Shows Romantic TV Shows TV Co...

                                         description
0  As her father nears the end of his life filmma...
1  After crossing paths at a party a Cape Town te...
2  To protect his family from a powerful drug lor...
3  Feuds flirtations and toilet talk go down amon...
4  In a city of coaching centers known to train I...

In [15]:
df.to_csv("cleaned_netflix_titles.csv", index=False)
print("\nüíæ Cleaned dataset saved as 'cleaned_netflix_titles.csv'")

üíæ Cleaned dataset saved as 'cleaned_netflix_titles.csv'